<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-group"></i> Categorías de servicios</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form id="formBuscarCategoria">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label " for="txtCodigo">Código</label>
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control input-sm input-outer-trim habilitadoModifica numero" maxlength="10">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label " for="txtNombre">Nombre de categoría</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control input-sm input-outer-trim habilitadoModifica" maxlength="100">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Vigente</label>
                        <div class="boton-switch">
                            <input id="chkVigenciaFiltro" name="chkVigenciaFiltro" type="checkbox" class="switchery form-control input-sm input-outer-trim habilitadoModifica" data-theme="blue" checked />
                        </div>
                    </div>
                </div>
            </form>
        </div>       
    </div>
    <div class="panel-footer clearfix">
        <div class="row">
            <div class="col-xs-12 col-md-2 col-md-offset-8">
                <button id="btnBuscar" type="button" name="btnBuscar" class="btn btn-round btn-sm btn-primary btn-block ">
                    <i class="glyphicon glyphicon-search"></i>
                    Buscar
                </button>
            </div>
            <div class="col-xs-12 col-md-2">
                <button id="btnNuevo" type="button" name="btnNuevo" class="btn btn-round btn-sm btn-primary btn-block ">
                    <i class="fa fa-lg fa-fw fa-plus"></i>
                    Nuevo
                </button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default clearfix">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tbCategorias" class="dataTableFull table table-condensed table-striped table-bordered nowrap display" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="hidden-lg hidden-md hidden-sm visible-xs firtscell "></th>
                            <th></th>
                            <th></th>
                            <th>CÓDIGO</th>
                            <th>NOMBRE</th>
                            <th>VIGENTE</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
