<div id="content">
    <div id="pnlBusqueda" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @Html.Partial("_Busqueda")
    </div>
</div>

@section scripts{
    @Scripts.Render("~/js/codigoqr")
}
@section pie{
    <div class="cod-pantalla">SESC-F0006 v(1.1.5)</div>
}