<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-male"></i> Usuarios</h1>
<div class="panel panel-default">
    <div class="panel-body">

        <form id="FormBusquedaUsuario">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">RUT</label>
                            <input type="text" id="txtRutCompletoFiltro" name="txtRutCompletoFiltro" class="form-control input-sm input-outer-trim rut" maxlength="12">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Nombre completo</label>
                        <input type="text" id="txtNombreCompletoFiltro" name="txtNombreCompletoFiltro" class="form-control input-sm input-outer-trim" maxlength="100">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Perfil</label>
                        <select id="cmbPerfilFiltro" name="cmbPerfilFiltro" class="form-control input-sm"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Sede</label>
                        <select id="cmbSedeFiltro" name="cmbSedeFiltro" class="form-control input-sm"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label ">Vigente</label>
                        <div class="boton-switch">
                            <input id="chkVigenteFiltro" name="chkVigenteFiltro" type="checkbox" class="switchery" data-theme="blue" checked />
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="panel-footer clearfix">
        <div class="row">
            <div class="col-xs-12 col-md-2 col-md-offset-8">
                <button id="btnBuscar" type="button" name="btnBuscar" class="btn btn-round btn-sm btn-primary btn-block ">
                    <i class="glyphicon glyphicon-search"></i>
                    Buscar
                </button>
            </div>
            <div class="col-xs-12 col-md-2">
                <button id="btnNuevo" type="button" name="btnNuevo" class="btn btn-round btn-sm btn-primary btn-block ">
                    <i class="fa fa-lg fa-fw fa-plus"></i>
                    Nuevo
                </button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default clearfix">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tbUsuarios" class="dataTableFull table table-condensed table-striped table-bordered nowrap display" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="hidden-lg hidden-md hidden-sm visible-xs firtscell"></th>
                            <th></th>
                            <th></th>
                            <th>RUT</th>
                            <th>NOMBRE COMPLETO</th>
                            <th>LOGIN</th>
                            <th>PERFIL</th>
                            <th>SEDE</th>
                            <th>VIGENTE</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>