@section estilos{
    @Styles.Render("~/content/evaluacion")
}

	<div id="header_claro" class="header_claro">
		<div id="content-header" class="header_claro">
			<div class="col-lg-1 col-xs-1 col-md-2">
				<label id="lbl_foto" for="fileUploadFoto" title="Bueno" class="upload-user   dimensionesFoto user-upload">
				<img style="padding:10px;" id="img-face-18" class="btnEvalBuena" src="~/Content/img/app/logo-corporation-rojo.png" />
				</label>
			</div>
			<div class="col-md-1 col-xs-1  col-md-offset-1 col-xs-offset-3">
				<label id="lbl_foto" for="fileUploadFoto" title="Bueno" class="upload-user   dimensionesFoto user-upload">
				<img style="padding:10px;" id="img-face-19" class="btnEvalBuena img-aiep" src="~/Content/img/app/logo-aiep.png" />
				</label>
			</div>
		@*<div class="col-xs-12 col-xs-1">
		<label id="lbl_foto" for="fileUploadFoto" title="Bueno" class="upload-user   dimensionesFoto user-upload">
		<img id="img-face-1" class="btnEvalBuena" src="~/Content/img/app/box-large-2.png" />
		</label>
		</div>*@
		</div>
	</div>



