<div id="content">
    <div id="pnlBusqueda" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @Html.Partial("Download_Busqueda")
    </div>
</div>

@section scripts{
    @Scripts.Render("~/js/download")
}
@section pie{
    <div class="cod-pantalla">LAB-F0003 v(1.0.0)</div>
}